.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.container-left {
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container-left {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container-left {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container-left {
      width: 1170px;
    }
  }

.container-right {
    padding-right: 7px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container-left {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container-left {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container-left {
      width: 1170px;
    }
  }

/* Textfield style*/
.strapi-field {
    height: 3.4rem;
    padding: 0px 1rem;
    font-weight: 300;
    font-size: 1.3rem;
    cursor: text;
    outline: 0px;
    border: 1px solid rgb(227, 233, 243);
    border-radius: 2px;
    color: rgb(51, 55, 64);
    background-color: transparent;
}

.strapi-button-primary {
    height: 30px;
    padding: 0px 15px 2px;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: normal;
    border-radius: 2px;
    cursor: pointer;
    outline: 0px;
    background-color: rgb(0, 126, 255);
    border: 1px solid rgb(0, 126, 255);
    color: rgb(255, 255, 255);
    margin-top: 2%;
}

.strapi-button-danger {
    height: 30px;
    padding: 0px 15px 2px;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: normal;
    border-radius: 2px;
    cursor: pointer;
    outline: 0px;
    background-color: rgb(232, 68, 47);
    border: 1px solid rgb(232, 68, 47);
    color: rgb(255, 255, 255);
    margin-top: 2%;
}

.strapi-button-success {
    height: 30px;
    padding: 0px 15px 2px;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: normal;
    border-radius: 2px;
    cursor: pointer;
    outline: 0px;
    background-color: rgb(105, 186, 5);
    border: 1px solid rgb(105, 186, 5);
    color: rgb(255, 255, 255);
    margin-top: 2%;
}

.modal-text {
    font-size: 1.2rem;
    margin-top: 1%;
}

.country-window {
  overflow: scroll;
  height: 78%;
}

.country-modal-header {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.country-searchbar {
  height: 3.4rem;
    padding: 0px 1rem;
    font-weight: 300;
    font-size: 1.3rem;
    cursor: text;
    outline: 0px;
    border: 1px solid rgb(42, 124, 255);
    border-radius: 2px;
    color: rgb(51, 55, 64);
    background-color: transparent;
    width: 95%;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width: 1.5rem;
    height: 1.5rem;
    background:white;
    border-radius:5px;
    border:1.5px solid rgb(0, 0, 0);
}

input[type='checkbox']:checked {
    background: rgba(0, 128, 255, 0.534);
}

/* input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.input:focus {
    outline: solid;
    border-color:rgb(51, 55, 64);
    box-shadow: 0 0 10px #719ECE;
} */

/* ::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
} */
